Flask
Flask-Bootstrap
Flask-Ext
Flask-Markdown
Flask-WTF
spacy
ru-core-news-md @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_md-3.1.0/ru_core_news_md-3.1.0-py3-none-any.whl